@font-face {
  font-family: "muller";
  src: url("../fonts/muller-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "muller Extra Bold";
  src: url("../fonts/muller-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
